/* Import necessary assets */
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');



/* Establish default variables */
html {
    /* Font Information */
    --font: 'Poppins';
    --body-weight: 400;
    --heading-weight: 700;
    --default-size: 16px;

    /* Varying font sizes */
    --h1-size: 11.090rem;
    --h2-size: 6.854rem;
    --h3-size: 4.236rem;
    --h4-size: 2.618rem;
    --h5-size: 1.618rem;
    --small-size: 0.618rem;
     
    /* Identity Colors */
    --identity-color: #dc0a2d;

    /* Pokemon type colors */
    --bug: #a7b723;
    --dark: #75574c;
    --dragon: #7037ff;
    --electric: #f9cf30;
    --fairy: #e69eac;
    --fighting: #c12239;
    --fire: #f57d31;
    --flying: #a891ec;
    --ghost: #70559b;
    --normal: #aaa67f;
    --grass: #74cb48;
    --ground: #dec16b;
    --ice: #9ad6df;
    --poison: #a43e9e;
    --psychic: #fb5584;
    --rock: #b69e31;
    --steel: #b7b9d0;
    --water: #6493eb;

    /* Grayscale Colors */
    --gs-dark: #212121;
    --gs-medium: #666666;
    --gs-light: #e0e0e0;
    --gs-background: #efefef;
    --gs-white: #ffffff;

    /* Shadows */
    --dropShadow: 6px;
    --dropShadow-small: 2px;
    --innerShadow: 2px;
}



/* Styling of Elements */
html {
    background-color: var(--identity-color);
    color: var(--gs-white);
    font-family: var(--font);
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

@media screen and (max-width: 420px) {
    html {
        height: 90vh;
    }
}

body {
    background-color: var(--identity-color);
    width: 360px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-container {
    width: 360px;
    height: auto;
    margin: 0px auto;
}

.logo-container {
    width: 250px;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-container img {
    width: 24px;
    height: 24px;
    margin: 0px 0px;
}

.logo-container h1 {
    font-size: var(--h5-size);
    margin: 0px 0px;
}

.nav-header-container {
    height: 54px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button-text {
    margin: 0px 5px;
}

.back-link {
    text-decoration: none;
    color: var(--gs-background);
    cursor: pointer;

    margin: 10px 0px;

    z-index: 10000;
}

.container-001 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 360px;
    height: 520px;

    background-color: #74cb48;
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(15,15,15,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px auto;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 185px 332px;
} 

.bg-img-container {
    width: 200px;
    height: 200px;

    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    margin-left: 20px;
    padding: 0px;

    z-index: 0;
}

.pokemon-img-container {
    width: 150px;
    height:150px;

    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.pokemon-name-container {
    margin-left: 220px;
    opacity: 0.8;
}

.poke-img {
    width: 100%;
    height: 100%;

    margin-left: 20px;
}

.bg-logo {
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    opacity: 0.25;
}

.info-container {
    width: 352px;
    height: 100%;
    margin: auto auto;

    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;

    background-color: white;
    color: var(--gs-medium);

    box-shadow: inset 0 0 5px rgba(15,15,15,0.5);

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}


.types {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}

.type {
    font-size: 10px;
    font-weight: 600;

    padding: 2px 12px;
    margin: 0px 5px;

    background-color: var(--gs-medium);
    color: white;

    border-radius: 20px
}

.heading {
    color: var(--gs-medium);
    font-size: 16px;
    
    margin: 10px 0px;
}


.gallery::-webkit-scrollbar {
    display: none;
}

.footer-container {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#physical-traits {
    width: 90%;
    height: 60px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}

.trait {
    width: 33%;
    height: 100%;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trait+.trait {
    border-width: 2px;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-color: rgba(15,15,15,0.2);
}

.trait-container {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#height-icon {
    transform: rotate(90deg);
}

.weight-value {
    font-size: 12px;
    margin-left: 5px;
}

.height-value {
    font-size: 12px;
    margin-left: 5px;
}

#moves-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trait-heading {
    font-size: 10px;
    font-weight: 500;
    
    margin-top: 0px;
    margin-bottom: 10px;
}

.moves-list {
    list-style: none;
    font-size: 10px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.description {
    width: 312px;
    font-size: 10px;
}

.description p {
    margin: 0px 0px;
    margin-top: 10px;

    text-align: center;
}

.stat-bar-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.stat-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 5px;

    font-size: 10px;
    font-weight: 500;

    color: var(--gs-medium);
}

.stat-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 10px;
    font-weight: 500;

    margin: 0 5px;

    color: var(--gs-medium);
}

.stat-bars {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 5px;
}

.exterior-bar {
    width: 100%;
    height: 10px;

    margin: 3px 0px;

    border-radius: 10px;
    background-color: var(--gs-light);
}

.interior-bar {
    width: 90%;
    height: 100%;

    border-radius: 10px;
    background-color: var(--grass);
}